@use '../App'

.nav
     position: relative
     display: flex
     width: 80%
     height: 3rem
     padding: 1rem 0.5rem 1rem 2.125rem
     justify-content: space-between                                                   
     align-items: center
     border-radius: 3.125rem
     border: App.$stroke
     background: App.$caiPink

     @media (min-width: App.$large)
          width: 1200px
          min-width: none

     @media  (App.$small <= width <= App.$medium)

          width: 80%

     @media (width < App.$small)
          height: 3.5rem
          width: 100%
          padding: 0.6875rem 0.5rem 0.6875rem 1.5rem

.navLogo
     font: App.$logoText
     color: App.$caiDarkBrown
     @media (max-width: App.$small)
          width: 60%

.navBtn
     display: none
     color: App.$caiDarkBrown

     @media (max-width: App.$smallMedium)
          padding: 0.625rem 1.25rem
          display: block
          &:active
               border-radius: 1.875rem

               background-color: App.$caiGrey

.navList
     display: flex
     gap: 2.5rem
     justify-content: end
     align-items: center

     a
          padding: 0.875rem 1.75rem
          border-radius: 1.5625rem
          color: App.$caiDarkBrown
          &:active
               background-color: App.$caiGrey
          &:hover,&:focus-visible
               background-color: App.$caiDarkBrown
               color: App.$caiLightBrown

     @media (App.$smallMedium <= width <= App.$medium)
          gap: 0.75rem

     @media (max-width: App.$smallMedium)
          display: none

.active
     position: absolute
     top: 3.5rem
     left: 100%
     transform: translateX(-100%)
     display: inline-flex
     padding: 0.875rem 0.5rem
     flex-direction: column
     align-items: flex-end
     gap: 2.5rem
     border-radius: 1.5625rem
     border: 2px solid App.$caiDarkBrown
     background: App.$caiPink
     a
          color: App.$caiDarkBrown

     @media (max-width: App.$smallMedium)
          a
               border-radius: 1.875rem
               padding: 0.625rem 1.25rem
               &:active
                    background-color: App.$caiGrey
