@use '../App'

// XS screens
.nav
     position: relative
     display: flex
     align-items: center
     justify-content: space-between
     width: min(100%,25rem)
     max-width: 100%
     height: 3.5rem
     padding: 0.6875rem 1.5rem
     border-radius: 3.125rem
     border: App.$stroke
     background: App.$caiPink
     @media screen and ( min-width: 500px )
          width: 25rem
     @media screen and ( min-width: 1024px )
          width: 50rem

.topNavLogo
     font: App.$logoText
     color: App.$caiDarkBrown
     width: 60%

.ul
     position: absolute
     display: flex
     flex-direction: column
     top: 3.75rem
     left: 100%
     transform: translateX(-100%)
     border-radius: 1.25rem
     border: App.$stroke
     background: #D33FA4
     padding: 1.25rem 1.75rem
     align-items: flex-end
     gap: 1rem

.navLink

     color: App.$caiDarkBrown
     &:hover, &:focus

          opacity: 0.5

.hidden
     display: none

// S screen
