@use '../App'

.nav
     background-color: App.$caiPink
     color: App.$caiDarkBrown
     border: 2px solid App.$caiDarkBrown
     border-radius: 3.125rem
     display: flex
     width: min(90vw, 17rem)
     min-width: 15rem

     height: 4rem
     padding: 0.5rem 0.5rem 0.5rem 1.5rem
     justify-content: space-between
     align-items: center
     flex-shrink: 0
     position: relative

     .navLogo
          font: App.$logoText
          width: 60%
          color: App.$caiDarkBrown

     ul

          font: App.$navItemsText
          color: App.$caiDarkBrown
          display: none
          padding: 1rem 1rem
          flex-direction: column
          align-items: flex-end
          gap: 0.75rem
          border-radius: 1rem
          border: 2px solid #110404
          background: #D33FA4
          position: absolute
          top: 4.25rem
          left: 100%
          transform: translateX(-100%)

          a
               color: App.$caiDarkBrown
               &:hover, &:focus
                    background: App.$caiGrey

          li
               &:hover, &:focus
                    background: App.$caiGrey

     .mobileBtn
          background: none
          border: none
          font: App.$navItemsText
          color: App.$caiDarkBrown
          cursor: pointer
          padding: 0.75rem 1rem
          border-radius: 5rem
          &:hover, &:focus
               background: App.$caiGrey

@media screen and (min-width: App.$breakpoint-small)
     .mobileBtn
          display: none

     ul
          display: block
          position: static
          top: 4.25rem
          color: white
          transform: none

     