*
     margin: 0
     padding: 0
     box-sizing: border-box

$small: 500px

$caiDarkBrown: #110404
$caiLightBrown: #915E2B
$caiPink: #D33FA4
$caiBeige: #E8C48F
$caiGrey: #DBCEC3

$stroke: 2px solid $caiDarkBrown

$navItemsText: 400 1.125rem "helvetica", sans-serif
$logoText: 400 1.125rem/1.25rem "helvetica", sans-serif
$mobileH1: italic 300 21vw/3rem "Garamond", serif
$mobileP: normal 400 0.9375rem/1.3125rem "helvetica", sans-serif

html
     min-height: 100vh

     li
          list-style: none
          text-decoration: none
     a
          text-decoration: none

     button
          border: none
          background: none
          cursor: pointer
          font: $mobileP

body
     background-color: $caiDarkBrown
     color: $caiLightBrown
     height: 100vh
     font: $mobileP

header
     width: 100%
     position: fixed
     z-index: 10
     display: flex
     align-items: center
     justify-content: center
     padding: 1rem 0.75rem

     top: 0

main
     width: 100%
     min-height: 100vh
     padding: 1.875rem

h1
     font: $mobileH1
     text-align: right
     margin-top: 6.5rem

footer
     width: 100%
     min-width: min-content
     min-height: 40rem
     display: grid
     grid-template-rows: repeat(3,auto)
     gap: 2.5rem
     height: min-content
     background-color: $caiGrey
     color: $caiLightBrown
     padding: 6.75rem 1.25rem 1rem
     margin-bottom: 0
