*
     margin: 0
     padding: 0
     box-sizing: border-box

$caiDarkBrown: #110404
$caiLightBrown: #915E2B
$caiPink: #D33FA4
$caiBeige: #E8C48F

$navItemsText: 400 1.125rem "helvetica", sans-serif
$logoText: 400 1.125rem/1.25rem "helvetica", sans-serif

$mobileH1: italic 300 21vw/3rem "Garamond", serif

html
     min-height: 100vh
     li
          list-style: none
          text-decoration: none
     a
          text-decoration: none

body
     background-color: $caiDarkBrown
     color: $caiLightBrown

header
     width: 100vw
     position: fixed
     z-index: 10
     display: flex
     align-items: center
     justify-content: center
     padding: 1rem 0.75rem
     top: 0

main
     width: 100vw
     padding: 1rem

h1
     font: $mobileH1
     text-align: right
     margin-top: 6.5rem
