@use "../App"

.container
     display: flex
     width: 100%
     justify-content: space-between
     align-items: center

     .h2
          font: App.$mobileH2
     li
          text-align: right

.infoBtn
     color: App.$caiLightBrown
     margin-right: 2rem
