@use '../../App'

.section
     margin-bottom: 6.25rem

.H2
     font: App.$mobileH2
     margin-bottom: 1.65rem

.emailLink
     color: App.$caiLightBrown
     cursor: pointer
     text-decoration: underline
