@use '../../App'

.h1
     font: italic 12.5vw/12.5vw "Diolce", serif
     margin-top: 3.5rem

.bio
     font: normal 1rem/1.65rem "BagossCondensed", sans-serif

     @media screen and (width >= App.$small)
          font: normal 1.25rem/1.95rem "BagossCondensed", sans-serif
