@use "../App"

@mixin search-placeholder
     color: App.$caiDarkBrown
     font: App.$mobileP
     opacity: 1

@mixin h3-base
     display: flex
     gap: 0.65rem

.container
     width: 100%
     display: flex
     flex-direction: column
     flex-wrap: wrap
     gap: 0.625rem
     justify-content: space-between
     padding: 1rem 0.75rem
     position: fixed
     left: 50%
     transform: translateX(-50%)
     bottom: 0
     z-index: 9
     @media (App.$small <= width <= App.$medium)
          width: 80%

     button
          display: flex
          height: max-content
          width: max-content
          padding: 0.3125rem 1.25rem
          justify-content: center
          align-items: center
          gap: 0.625rem
          border-radius: 1.875rem
          border: App.$stroke
          background: App.$caiPink
          font: App.$mobileP

     input
          width: 100%
          border-radius: 1.875rem
          border: App.$stroke
          background: App.$caiPink
          display: flex
          padding: 0.4rem 1.25rem
          justify-content: flex-end
          align-items: center
          gap: 0.625rem

          &::placeholder
               @include search-placeholder

          &::-moz-placeholder
               @include search-placeholder

          &:-ms-input-placeholder
               @include search-placeholder

          &::-webkit-input-placeholder
               @include search-placeholder
.hidden
     display: none

.searchToolCont
     display: flex
     flex-direction: columns
     height: max-content
     background: App.$caiPink
     border-radius: 3.125rem
     border: App.$stroke
     justify-content: left
     align-items: center
     padding: 0.4rem 1.25rem
     width: max-content
     cursor: pointer

.listH3
     @include h3-base

.listH3Active
     @include h3-base
     margin: 0.75rem

.listTitle
     color: App.$caiDarkBrown
     font: App.$mobileP

.listTitleActive
     color: App.$caiDarkBrown
     font: App.$mobileH3

.list
     display: flex
     flex-direction: columns
     height: min-content
     width: max-content

.listItem
     margin: 0.75rem 0

     &:first-child
          margin-top: 1.5rem

     a
          color: App.$caiDarkBrown
