@use "../App"

@mixin search-placeholder
     color: App.$caiDarkBrown
     font: App.$mobileP
     opacity: 1

@mixin h3-base
     display: flex
     gap: 0.65rem

.container
     width: 100%
     display: flex
     flex-direction: column
     flex-wrap: nowrap
     gap: 0.625rem
     justify-content: space-between
     padding: 1rem 0.75rem
     position: fixed
     left: 50%
     transform: translateX(-50%)
     bottom: 0
     z-index: 9

     max-width: 100%
     max-height: 92vh
     @media (App.$smallMedium <= width)
          display: grid
          grid-template-columns: 1fr 5fr
          grid-template-rows: repeat(3, auto)
          gap: 0.5rem
          width: 80%

     button
          display: flex
          height: max-content
          width: max-content
          padding: 0.3125rem 1.25rem
          justify-content: center
          align-items: center
          gap: 0.625rem
          border-radius: 1.875rem
          border: App.$stroke
          background: App.$caiPink
          font: App.$mobileP
          @media (App.$smallMedium <= width)
               grid-column: 1/2
               grid-row: 3/4
               width: 100%

     input
          width: 100%
          border-radius: 1.875rem
          border: App.$stroke
          background: App.$caiPink
          display: flex
          padding: 0.4rem 1.25rem
          justify-content: flex-end
          align-items: center
          gap: 0.625rem

          &::placeholder
               @include search-placeholder
          &::-moz-placeholder
               @include search-placeholder
          &:-ms-input-placeholder
               @include search-placeholder
          &::-webkit-input-placeholder
               @include search-placeholder

          @media (App.$smallMedium <= width)
               grid-column: 2/3
               grid-row: 3/4
               width: 100%
.hidden
     display: none
