@use "../../App"

@mixin h3-base
     display: flex
     gap: 0.5rem
     align-items: center

@mixin select-base
     height: 40px
     background-color: App.$caiBeige
     color: App.$caiDarkBrown
     font: App.$mobileP
     border: App.$stroke
     border-radius: 0.3125rem
     padding: 0.3125rem 0.4375rem

@mixin button-base
     height: max-content
     width: max-content
     padding: 0.3125rem 1.25rem
     justify-content: center
     align-items: center
     gap: 0.625rem
     border-radius: 1.875rem
     border: App.$stroke
     background: App.$caiPink
     font: App.$mobileP

$mobileH2Font: italic 2.5rem/2.45rem "Diolce", serif

.contDefault
     height: 2.5rem
     background: none

.contClicked
     background: red
     background: App.$caiPink
     border-radius: 1rem
     padding: 1rem
     border: App.$stroke
     height: max-content
     max-height: 90vh
     max-width: 100%
     overflow: scroll
     display: grid
     row-gap: 1.875rem
     grid-template-columns: repeat(3, auto)
     grid-template-rows: repeat(5, auto)
     justify-content: space-between
     overflow-y: auto
     overflow-x: hidden

.title
     font: $mobileH2Font
     color: App.$caiDarkBrown
     grid-column: 1 / 3
     grid-row: 1 / 2

.h3
     font: App.$mobileH3
     color: App.$caiDarkBrown

.sortingCont,
.filtersCont,
.dateCont
     border: none

.sortingCont
     display: grid
     grid-template-columns: auto 1fr
     grid-template-rows: max-content
     justify-content: space-between
     gap: 0.75rem
     grid-column: 1 / 4
     grid-row: 2 / 3
     width: 100%
     color: App.$caiDarkBrown

     .sortingLabel
          grid-column: 1 / 2
          grid-row: 1 / 2
          width: 100%
          font: App.$mobileH3
          color: App.$caiDarkBrown

     .sortingSelect
          grid-column: 2 / 3
          grid-row: 1 / 2
          width: 100%
          @include select-base

.filtersCont
     width: 100%
     grid-column: 1 / 4
     grid-row: 3 / 4
     color: App.$caiDarkBrown
     font: App.$mobileH3

     label
          display: flex
          flex-direction: column
          gap: 0.45rem

     .filtersDetails
          @include select-base
          height: max-content

     .filtersSummary
          display: grid
          justify-content: space-between
          align-items: center
          align-content: center
          grid-template-columns: repeat(2, max-content)
          grid-template-rows: 2.5rem
          color: App.$caiDarkBrown
          min-width: 100%

     .filterItem
          font: App.$mobileP
          display: flex
          flex-direction: row
          gap: 1.75rem
          width: 100%
          height: min(2.175rem,max-content)
          padding: 10px
          text-align: left

          input[type="checkbox"]
               border: App.$stroke
               width: max-content

.dateCont
     display: flex
     justify-content: space-between
     gap: .25rem
     grid-column: 1 / 4
     grid-row: 4 / 5
     width: 100%
     height: min-content
     color: App.$caiDarkBrown

.dateLabel
     height: min-content
     // min-width: 50%
     width: 100%
     display: flex
     gap: 0.125rem
     align-items: center

     input::placeholder
          font-size: 0.75rem

     .dateInput
          height: 40px
          width: 3.125rem
          padding: 0
          background-color: App.$caiBeige
          color: App.$caiDarkBrown
          border: App.$stroke
          border-radius: 0.3125rem
          text-align: center
          font-size: 0.75rem

.btnStyle
     @include button-base
     grid-column: 3 / 4
     grid-row: 1 /2
     color: App.$caiDarkBrown

.clickedBtnStyle
     grid-column: 3 / 4
     grid-row: 1 /2
     color: App.$caiDarkBrown
     padding: 15px 0 15px 15px

.applyBtn
     @include button-base
     grid-column: 1/4
     grid-row: 5/6
     height: 40px
     align-self: end
